@media (max-width: 767px) {
	.header__left {
	    margin-left: calc((100% - 115px) / 2);
	    width: 115px;
	}
	.header__user_right {
		display: none;
	}
	.header__user_left {
	    padding-right: 26px;
	}
	.header__user_left {
	    font-weight: 700;
	    top: 34px;
	    width: 88px;
	}
	.header__user_left:before {
		content: '+';
		position: absolute;
	    font-size: 41px;
	    font-weight: 400;
	    width: 24px;
	    height: 24px;
	    line-height: 24px;
	    top: 9px;
	    left: -21px;
	}
	.header__user_money a {
	    font-weight: 700;
	    color: #fff;
	    opacity: 1;
	}
	.header__user_money a span, .header__user_money.steam_items a span {
		margin-left: 8px;
	}
}

.mobile-menu__row-games-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: max-content;
}

.mobile-menu__row-games-menu .game_button {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    height: 65px;
    width: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all ease .2s;
    border-bottom: 3px solid transparent;
}

.mobile-menu__row-games {
    overflow: auto;
    width: 100%;
}

@media (min-width: 1200px){
	.mobile-menu__row-games {
		display: none;
	}
}