input[type=radio] {
	display: none
}

.bet-content__left {
	float: left;
	width: 750px;
	margin-right: 10px
}

.bet-content__top {
	height: 55px;
	width: 100%;
	margin-bottom: 9px;
	background: rgba(11, 0, 12, .7);
	position: relative
}

.bet-content__top_icon {
	width: 18px;
	height: 55px;
	float: left;
	background-image: url(../img/games-icons.png);
	background-repeat: no-repeat
}

.bet-content__status-block {
	background: url(../img/time-icon.png) left center no-repeat;
	padding-left: 18px;
	float: left;
	margin-left: 18px;
	height: 55px;
	line-height: 55px
}

.bet-content__top_time {
	height: 30px;
	line-height: 30px;
	color: #999698;
	font-size: 14px;
	margin-right: 150px
}

.bet-content__top_title {
	color: #fff;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 225px
}

.bet-content__top_match {
	float: right;
	color: #c8c8c8;
	height: 55px;
	line-height: 55px;
	font-size: 14px;
	padding-right: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 300px
}

.bet-content__top_img {
	height: 55px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -4
}

.bet-content__top_img img {
	height: 100%;
	-webkit-mask-image: linear-gradient(to right, transparent 0%, black 100%);
	mask-image: linear-gradient(to right, transparent 0%, black 100%)
}

.bet-content__block {
	margin-top: 9px;
	background: rgba(11, 0, 12, .7);
	padding: 15px
}

.bet-content__block-one {
	margin-bottom: 10px
}

.bet-content__block-one_top {
	padding-bottom: 10px;
	background: rgba(11, 0, 12, .3);
	border: 1px solid rgba(255, 255, 255, .1);
	border-bottom: none;
	text-align: center
}

.bet-content__block-one_top div {
	display: inline-block;
	margin-right: 11px;
	margin-left: 11px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all ease .2s;
	color: #fff;
	position: relative
}

.bet-content__block-one_top div {
	height: 28px;
	line-height: 28px;
	padding-left: 26px;
	font-size: 14px;
	padding-right: 11px;
	margin-top: 8px
}

.bet-content__block-one_top div.started {
	color: #696969
}

.bet-content__block-one_top label.bet_made div:before {
	width: 5px;
	height: 5px;
	display: block;
	content: "";
	position: absolute;
	top: 12px;
	left: 4px;
	background: #c8c8c8;
	border-radius: 50%
}

.bet-content__block-one_top div span.type_icon {
	background-image: url(../img/tabs-icons.png);
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	position: absolute;
	display: block;
	top: 6px;
	left: 9px
}

.bet-content__block-one_top div.match span.type_icon,
.bet_type input[type=radio]:checked+div.match span.type_icon {
	background-position: -68px 0
}

.bet-content__block-one_top div.hc span.type_icon,
.bet_type input[type=radio]:checked+div.hc span.type_icon {
	background-position: 0 0
}

.bet-content__block-one_top div.game1 span.type_icon,
.bet_type input[type=radio]:checked+div.game1 span.type_icon {
	background-position: -85px 0
}

.bet-content__block-one_top div.game2 span.type_icon,
.bet_type input[type=radio]:checked+div.game2 span.type_icon {
	background-position: -102px 0
}

.bet-content__block-one_top div.game3 span.type_icon,
.bet_type input[type=radio]:checked+div.game3 span.type_icon {
	background-position: -119px 0
}

.bet-content__block-one_top div.game4 span.type_icon,
.bet_type input[type=radio]:checked+div.game4 span.type_icon {
	background-position: -136px 0
}

.bet-content__block-one_top div.game5 span.type_icon,
.bet_type input[type=radio]:checked+div.game5 span.type_icon {
	background-position: -153px 0
}

.bet-content__block-one_top div.fb span.type_icon,
.bet_type input[type=radio]:checked+div.fb span.type_icon,
.bet-content__block-one_top div.kills span.type_icon,
.bet_type input[type=radio]:checked+div.kills span.type_icon {
	background-position: -34px 0
}

.bet-content__block-one_top div.round span.type_icon,
.bet_type input[type=radio]:checked+div.round span.type_icon {
	background-position: -51px 0
}

.bet-content__block-one_top div.match.started span.type_icon {
	background-position: -68px -34px
}

.bet-content__block-one_top div.hc.started span.type_icon {
	background-position: 0 -34px
}

.bet-content__block-one_top div.game1.started span.type_icon {
	background-position: -85px -34px
}

.bet-content__block-one_top div.game2.started span.type_icon {
	background-position: -102px -34px
}

.bet-content__block-one_top div.game3.started span.type_icon {
	background-position: -119px -34px
}

.bet-content__block-one_top div.game4.started span.type_icon {
	background-position: -136px -34px
}

.bet-content__block-one_top div.game5.started span.type_icon {
	background-position: -153px -34px
}

.bet-content__block-one_top div.fb.started span.type_icon,
.bet-content__block-one_top div.kills.started span.type_icon {
	background-position: -34px -34px
}

.bet-content__block-one_top div.round.started span.type_icon {
	background-position: -51px -34px
}

.bet-content__block-one_top div:hover {
	border: 1px solid rgba(255, 255, 255, .1);
	color: #fff;
	background-color: rgba(11, 0, 12, .5)
}

.bet-content__block-one_top div:active,
.bet_type input[type=radio]:checked+div,
.bet-content__block-one_top div.bet-content__block-one_top-active {
	-webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	-moz-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	border: 1px solid rgba(255, 255, 255, .2);
	color: #fff;
	background-color: rgba(11, 0, 12, .4)
}

.bet-content__block-one_bottom {
	border: 1px solid rgba(255, 255, 255, .1);
	padding: 10px;
	background: rgba(11, 0, 12, .5)
}

.bet-content__team {
	width: 314px;
	height: 115px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid transparent;
	transition: all ease .3s;
	position: relative
}

.bet-content__team.close_live_bet>div:not(.close_live_bet_icon) {
	filter: brightness(25%)
}

.bet-content__team .open_live_bet_icon {
	display: none
}

.bet-content__team .close_live_bet_icon {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10
}

.bet-content__team .close_live_bet_icon svg {
	height: 35px;
	width: 35px
}

.bet-content__team .close_live_bet_icon svg path {
	fill: #fff
}

.bet-content__team .close_live_bet_icon {
	display: none
}

.bet-content__team.close_live_bet .close_live_bet_icon {
	display: flex
}

.bet-content__vs {
	float: left;
	width: 65px;
	text-align: center;
	height: 115px;
	line-height: 115px
}

.bet-content__team_top {
	height: 70px;
	border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.bet-content__team_img {
	width: 55px;
	margin-left: 12px;
	margin-right: 12px;
	float: left;
	height: 70px;
	line-height: 70px
}

.bet-content__team_img img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle
}

.bet-content__team_img.img_team_darck img {
	background-color: #c8c8c8;
	border-radius: 2px
}

.bet-content__team_name {
	float: left;
	width: 188px;
	text-align: center;
	height: 70px;
	line-height: 70px
}

.bet-content__team_name div {
	display: inline-block;
	vertical-align: middle;
	width: 100%
}

.bet-content__team_name p {
	line-height: 19px;
	height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 180px
}

.bet-content__team_name p:nth-child(1) {
	color: #fff;
	font-size: 14px;
	font-weight: 700
}

.bet-content__team_name p:nth-child(2) {
	color: #c8c8c8;
	font-size: 12px
}

.bet-content__team_name p.t_cof {
	color: #c8c8c8;
	font-size: 12px
}

.bet-content__team_bottom {
	margin-top: 5px;
	margin-bottom: 5px
}

.bet-content__team_bottom p {
	height: 18px;
	line-height: 18px;
	color: #fff;
	font-size: 12px;
	text-align: center
}

.bet-content__team_bottom .total_reward_value {
	color: #f7ae00
}

label .bet-content__team:hover {
	border: 1px solid rgba(255, 255, 255, .1);
	background: rgba(0, 0, 0, .5)
}

label .bet-content__team:active {
	-webkit-box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	-moz-box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2)
}

.bet-content__block-one_bottom input[type=radio]:checked+div.bet-content__team {
	-webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	-moz-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	background: rgba(0, 0, 0, .4);
	border: 1px solid rgba(255, 255, 255, .2)
}

.bet-content__vs div {
	display: inline-block;
	vertical-align: middle
}

.bet-content__vs div p {
	height: 20px;
	line-height: 20px;
	color: #c8c8c8;
	font-size: 12px;
	text-align: center
}

.bet-content__vs div p:nth-child(1) {
	font-weight: 700
}

.bet-content__vs .teams_tournament_details_js_arrow {
	background: url(../img/bet/bet-icon-two.png) center center no-repeat;
	height: 30px
}

.bet-content__vs .teams_tournament_details_js_arrow.teams_tournament_details_js_arrow-on {
	background: url(../img/bet/bet-icon-two_on.png) center center no-repeat;
	height: 30px
}

.bet-content__block-two {
	border: 1px solid rgba(255, 255, 255, .1);
	margin-bottom: 10px
}

.bet-content__block-two_top {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	text-align: center;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgba(11, 0, 12, .3)
}

.bet-content__block-two_top p {
	height: 20px;
	line-height: 20px
}

.bet-content__block-two_top p:nth-child(1) {
	position: absolute;
	top: 5px;
	left: 10px;
	color: #696969;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 300px
}

.bet-content__block-two_top p:nth-child(1) a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding-right: 13px;
	background: url(../img/footer-icons.png) right -71px no-repeat
}

.bet-content__block-two_top p:nth-child(2) {
	display: inline-block;
	padding-right: 16px;
	background: url(../img/bet/bet-icon-three.png) right center no-repeat;
	color: #c8c8c8;
	font-size: 12px;
	cursor: pointer
}

.bet-content__block-two_top p:nth-child(2):hover {
	color: #fff;
	background-image: url(../img/bet/bet-icon-eith.png)
}

.bet-content__block-two_top p:nth-child(3) {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #c8c8c8;
	font-size: 12px
}

.bet-content__block-two_bottom {
	padding: 23px;
	text-align: center;
	background: rgba(11, 0, 12, .5)
}

.bet-content__betcoin {
	width: 200px;
	height: 60px;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, .1);
	position: relative;
	background: url(../img/bet/betcoin-icon.png) rgba(11, 0, 12, .5) 8px 5px no-repeat;
	padding-left: 70px;
	padding-top: 12px;
	-webkit-box-shadow: 0 0 5px 2px rgba(247, 174, 0, .15);
	-moz-box-shadow: 0 0 5px 2px rgba(247, 174, 0, .15);
	box-shadow: 0 0 5px 2px rgba(247, 174, 0, .15)
}

.bet-content__betcoin:before {
	position: absolute;
	display: block;
	content: "";
	background: rgba(255, 255, 255, .1);
	width: 1px;
	height: 45px;
	top: 7px;
	left: 67px
}

.bet-content__betcoin_name {
	height: 18px;
	line-height: 18px;
	font-weight: 700;
	font-size: 14px;
	color: #f7ae00
}

.bet-content__betcoin_money {
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	color: #f7ae00
}

.no-coins .bet-content__betcoin {
	width: 200px;
	height: 60px;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, .1);
	position: relative;
	background: url(../img/bet/no-coins.png) rgba(11, 0, 12, .5) 8px 5px no-repeat;
	padding-left: 70px;
	padding-top: 12px;
	-webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	-moz-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1);
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, .1)
}

.no-coins .bet-content__betcoin:before {
	position: absolute;
	display: block;
	content: "";
	background: rgba(255, 255, 255, .1);
	width: 1px;
	height: 45px;
	top: 7px;
	left: 67px
}

.no-coins .bet-content__betcoin_name {
	height: 18px;
	line-height: 18px;
	font-weight: 700;
	font-size: 14px;
	color: #696969
}

.no-coins .bet-content__betcoin_money {
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	color: #696969
}

.bet-content__range {
	float: left;
	line-height: 31px;
	background: url(../img/bet/betcoin-icon.png) rgba(11, 0, 12, .5) 5px 4px no-repeat;
	-webkit-background-size: 22px 22px;
	background-size: 22px 22px;
	padding-left: 40px;
	border: 1px solid rgba(255, 255, 255, .1)
}

.bet-content__range_name {
	height: 30px;
	line-height: 30px;
	float: left;
	color: #c8c8c8;
	font-size: 12px;
	margin-right: 14px
}

.bet-content__block_bottom-button {
	float: right;
	margin-left: 10px
}

.bet-content__block_bottom-button button {
	border: 0;
	outline: 0;
	padding: 0
}

.bet-content__block_bottom-button button {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	display: block;
	background: #fff;
	border-radius: 1px;
	line-height: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	transition: all ease .3s
}

.bet-content__block_bottom-button button:hover {
	background: #c8c8c8
}

.bet-content__block_bottom-button button span {
	display: inline-block;
	width: 8px;
	height: 9px;
	background: url(../img/bet/bet-icon-four.png) center center no-repeat
}

.bet-content__block_bottom-button button.update-bet span {
	display: inline-block;
	width: 17px;
	height: 13px;
	background: url(../img/profile/profile-icon-five.png) center center no-repeat
}

.bet-content__block_bottom-button button.cancel-bet span {
	display: inline-block;
	width: 9px;
	height: 11px;
	background: url(../img/open-profile/open-icon-eith_black.png) center center no-repeat
}

.bet-content__range_wraper {
	width: 145px;
	float: left;
	margin-right: 11px;
	height: 30px
}

.bet-content__range_wraper input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: 0 0;
	height: 30px
}

.bet-content__range_wraper input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none
}

.bet-content__range_wraper input[type=range]:focus {
	outline: none
}

.bet-content__range_wraper input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: 0 0;
	border-color: transparent;
	color: transparent
}

.bet-content__range_wraper input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #c4c3c4;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
	margin-top: -3px
}

.bet-content__range_wraper input[type=range]::-moz-range-thumb {
	border: 1px solid #c4c3c4;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background: #000;
	cursor: pointer
}

.bet-content__range_wraper input[type=range]::-ms-thumb {
	border: 1px solid #c4c3c4;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background: #000;
	cursor: pointer
}

.bet-content__range_wraper input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	background: #c4c3c4
}

.bet-content__range_wraper input[type=range]:focus::-webkit-slider-runnable-track {
	background: #c4c3c4
}

.bet-content__range_wraper input[type=range]::-moz-range-track {
	width: 100%;
	height: 1px;
	background: #c4c3c4
}

.bet-content__range_wraper input[type=range]::-ms-track {
	width: 100%;
	height: 1px;
	background: 0 0;
	color: transparent
}

.bet-content__range_wraper input[type=range]::-ms-fill-lower {
	background: #c4c3c4
}

.bet-content__range_wraper input[type=range]:focus::-ms-fill-lower {
	background: #c4c3c4
}

.bet-content__range_wraper input[type=range]::-ms-fill-upper {
	background: #c4c3c4
}

.bet-content__range_wraper input[type=range]:focus::-ms-fill-upper {
	background: #c4c3c4
}

.bet-content__range_value {
	width: 52px;
	border: none;
	outline: none;
	background: 0 0;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	float: left;
	height: 18px;
	line-height: 18px;
	margin-top: 6px;
	color: #c8c8c8;
	font-size: 14px;
	text-align: center;
	margin-right: 8px
}

.bet-content__range_button {
	width: 60px;
	border-left: 1px solid rgba(255, 255, 255, .1);
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #c8c8c8;
	font-size: 12px;
	float: left;
	cursor: pointer;
	transition: all ease .2s
}

.bet-content__range_button:hover {
	color: #fff
}

.bet-content__video {
	background: rgba(11, 0, 12, .7);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 9px
}

.bet-content__video_title {
	height: 65px;
	line-height: 65px;
	color: #fff;
	font-size: 18px;
	padding-left: 22px;
	background: url(../img/bet/bet-icon-five.png) left center no-repeat
}

.bet-content__video_language {
	text-align: center;
	line-height: 45px;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-left: 1px solid rgba(255, 255, 255, .1);
	border-right: 1px solid rgba(255, 255, 255, .1);
	background: rgba(11, 0, 12, .3)
}

.bet-content__video_language div {
	display: inline-block;
	height: 28px;
	line-height: 26px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: #c8c8c8;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all ease .2s
}

.bet-content__video_language div:hover {
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .1)
}

.bet-content__video_language div:active,
.bet-content__video_language div.active,
.bet-content__video_language div.bet-content__video_language-active {
	border: 1px solid rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	-moz-box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	color: #fff;
	background: rgba(11, 0, 12, .7)
}

.bet-content__video_main {
	width: 100%;
	height: 420px;
	position: relative;
	border: 1px solid rgba(255, 255, 255, .1);
	background: rgba(11, 0, 12, .7)
}

.bet-content__video_player {
	background: rgba(11, 0, 12, .7);
	position: absolute
}

.bet-content__video_player iframe {
	width: 718px
}

.bet-content__video_control {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: rgba(11, 0, 12, .7);
	z-index: 2
}

.bet-content__video_play {
	width: 130px;
	height: 146px;
	position: absolute;
	top: 50%;
	margin-top: -73px;
	left: 50%;
	margin-left: -65px;
	background: url(../img/bet/play-button.png) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	cursor: pointer
}

.bet-content__video_text {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	left: 0;
	height: 35px;
	line-height: 35px;
	top: 300px
}

.bet-content__right {
	background: rgba(11, 0, 12, .7);
	float: left;
	width: 390px;
	padding-left: 15px;
	padding-bottom: 15px
}

.bet-content__right.has-stream {}

.bet-content__right_title {
	height: 55px;
	line-height: 55px;
	margin-left: -15px;
	padding-left: 34px;
	color: #fff;
	font-size: 18px;
	position: relative;
	box-shadow: 0px 11px 12px 0px #2e1711;
    z-index: 999;
}

.bet-content__right_title:before {
	display: block;
	position: absolute;
	content: ". . .";
	width: 0;
	height: 21px;
	left: 23px;
	top: 14px;
	line-height: 5px;
	font-size: 20px;
	color: #fff
}

.bet-content__right_bets {
	height: 366px;
	position: relative;
	z-index: 10
}

.bet-content__right_bets .items__container {
	margin-top: 0
}

.has-stream .bet-content__right_bets {
	height: 926px
}

.bets__item {
	width: 355px;
	margin-bottom: 10px;
	margin-right: 10px
}

.bets__item_bottom {
	border: 1px solid rgba(255, 255, 255, .1);
	background: rgba(11, 0, 12, .5);
	height: 28px;
	transition: all ease .3s
}

.bets__item_bottom:hover {
	-webkit-box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	-moz-box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2);
	box-shadow: 0 0 13px 1px rgba(255, 255, 255, .2)
}

.bets__item_title {
	float: left;
	color: #696969;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin-left: 5px
}

.bets__item_match {
	float: right;
	color: #696969;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin-right: 5px
}

.bets__item_title-mark-one {
	color: #c8c8c8;
	font-weight: 700
}

.bets__item_team-img {
	float: left;
	height: 26px;
	line-height: 26px;
	margin-left: 6px;
	width: 15px;
	margin-right: 4px
}

.bets__item_team-img img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block
}

.bets__item_team-img.img_team_darck img {
	background-color: #c8c8c8;
	border-radius: 2px
}

.bets__item_team-name {
	width: 230px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 26px;
	line-height: 26px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	float: left
}

.bets__item_team-name span {
	vertical-align: middle
}

.bets__item_money {
	float: right;
	height: 26px;
	line-height: 26px;
	color: #c8c8c8;
	font-weight: 700;
	font-size: 12px;
	margin-right: 8px
}

.bets__item_title-mark-two {
	display: inline-block;
	vertical-align: middle;
	height: 12px;
	background: url(../img/bet/bet-icon-six.png) 4px center no-repeat, url(../img/bet/bet-icon-seven.png) right 3px center no-repeat;
	color: #000;
	background-color: #fff;
	text-decoration: none;
	border-radius: 2px;
	line-height: 12px;
	padding-left: 19px;
	padding-right: 12px;
	font-size: 10px;
	max-width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.bets__item_title-mark-two:hover {
	background-color: #c8c8c8
}

.bets__item_title-mark-three {
	color: #fff;
	padding-right: 11px;
	background: url(../img/footer-icons.png) right -74px no-repeat;
	display: inline-block;
	text-decoration: none
}

.bets__item-two .bets__item_money {
	padding-left: 22px;
	background: url(../img/bet/betcoin-icon.png) left center no-repeat;
	-webkit-background-size: 18px auto;
	background-size: 18px auto
}

.bet-content__team-one .bet-content__team_img {
	float: right
}

.mobile .container {
	padding: 0
}

.slider__top-wrapper div:nth-child(1),
.slider-two__top-wrapper div:nth-child(1) {
	background: url(../img/bet/bet-icon-five.png) left center no-repeat;
	margin-left: -55px
}

.slider__top-wrapper div:nth-child(1):before,
.slider-two__top-wrapper div:nth-child(1):before {
	display: none
}

.slider__top-wrapper div:nth-child(2):before,
.slider-two__top-wrapper div:nth-child(2):before {
	display: block;
	position: absolute;
	content: ". . .";
	width: 0;
	height: 21px;
	left: 9px;
	top: 3px;
	line-height: 5px;
	font-size: 20px;
	color: #fff;
	white-space: wrap
}

.slider__top-wrapper div:nth-child(2),
.slider-two__top-wrapper div:nth-child(2) {
	margin-left: 55px
}

.slider__top-wrapper div:nth-child(1).slider__title-one-two {
	margin-left: -169px
}

.slider__top-wrapper div:nth-child(2).slider__title-two-two {
	margin-left: -59px
}

.bet-content__block-one_bottom,
.bet-content__block-two,
.betcoin_range_match,
.betcoin_range_match.started,
.betcoin_range_match.started.active,
.bet-content__block_bottom-buttons,
.bet-content__video_main,
.bet-content__video_main-three,
.bet-content__video_main-two,
.items__container.in_bet {
	display: none
}

.bet-content__block-one_bottom.active,
.bet-content__block-two.active,
.betcoin_range_match.active,
.bet-content__video_main.active,
.bet-content__block_bottom-buttons.active,
.items__container.in_bet.active {
	display: block
}

.mCSB_inside>.mCSB_container {
	margin-right: 15px
}

section.mobile {
	margin-top: 9px
}

.teams_tournament_details {
	font-size: 12px;
	border: 1px solid rgba(255, 255, 255, .1);
	padding: 10px;
	background: rgba(11, 0, 12, .5);
	border-top: none;
	line-height: 19px
}

.teams_tournament_details .line {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	margin-top: 3px;
	margin-bottom: 3px
}

.teams_tournament_details .team1_details {
	float: left;
	width: 315px;
	text-align: center
}

.teams_tournament_details .team2_details {
	float: right;
	width: 315px;
	text-align: center
}

.teams_tournament_details .team_hover_team {
	display: inline-block;
	width: 100%
}

.teams_tournament_details .team_hover_team1,
.teams_tournament_details .team_hover_team2 {
	width: 40%;
	display: inline-block;
	float: left
}

.teams_tournament_details .team_hover_team1 {
	text-align: right
}

.teams_tournament_details .team_hover_team2 {
	text-align: left
}

.teams_tournament_details .team_hover_team_vs {
	width: 20%;
	display: inline-block;
	float: left
}

.ascc_block {
	height: 31px;
	line-height: 31px;
	vertical-align: middle;
	color: #c8c8c8;
	font-size: 12px
}

@media screen and (min-width:1000px) and (max-width:1200px) {
	.bet-content__left {
		width: 620px
	}
	.bet-content__right {
		width: 320px
	}
	.bets__item {
		width: 285px
	}
	.bets__item_team-name {
		width: 150px
	}
	.bet-content__top_time {
		margin-right: 90px
	}
	.bet-content__team {
		width: 250px;
		padding-left: 0;
		padding-right: 0
	}
	.bet-content__team_name {
		width: 165px
	}
	.bet-content__top_match {
		max-width: 230px
	}
	.bet-content__top_title {
		max-width: 190px
	}
}

@media screen and (min-width:768px) and (max-width:999px) {
	.bet-content__left,
	.bet-content__right {
		width: 100%;
		float: none
	}
	.bet-content__right {
		margin-top: 10px
	}
	.bets__item {
		width: 715px
	}
	.bet__item_name {
		width: 550px
	}
}

@media screen and (min-width:500px) and (max-width:767px) {
	.bet-content__video_player iframe {
		width: 478px;
		height: 335px
	}
	.bet-content__left,
	.bet-content__right {
		width: 100%;
		float: none
	}
	.bet-content__right {
		margin-top: 10px
	}
	.bet-content__top_match {
		max-width: 200px
	}
	.bet-content__top_time {
		margin-right: 30px
	}
	.bet-content__team {
		width: 184px;
		padding-left: 0;
		padding-right: 0
	}
	.bet-content__vs {
		width: 58px
	}
	.bet-content__team_name {
		width: 100%
	}
	.bet-content__team_img {
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-right: 0
	}
	.bet-content__team_top {
		height: auto
	}
	.bet-content__team {
		height: auto
	}
	.bet-content__video_main {
		height: 335px
	}
	.bet-content__video_text {
		top: 220px
	}
	.bets__item {
		width: 100%
	}
	.bets__item_team-name {
		width: 300px
	}
	.bet-content__range {
		float: none
	}
	.bet-content__range_wraper {
		width: 230px
	}
	.bet-content__block_bottom-button {
		float: none;
		text-align: center;
		margin-top: 10px
	}
	.bet-content__block_bottom-button button {
		display: inline-block
	}
	.bet-content {
		margin-top: 70px
	}
	.bet-content__right,
	.bet-content__video {
		display: none
	}
	.bet-content__right_bets {
		height: 420px
	}
	.bet-content__block-one_top {
		height: auto;
		padding-bottom: 10px
	}
	.bet-content__block-two_top p:nth-child(1) {
		position: relative;
		top: 0;
		left: 0;
		max-width: 100%
	}
	.bet-content__block-two_top p:nth-child(3) {
		position: relative;
		top: 0;
		left: 0
	}
	.teams_tournament_details .team1_details,
	.teams_tournament_details .team2_details {
		width: 42%;
		width: 186px
	}
}

@media screen and (max-width:499px) {
	.bet-content__video_player iframe {
		width: 350px;
		height: 335px
	}
	.bet-content__left,
	.bet-content__right {
		width: 100%;
		float: none
	}
	.bet-content {
		margin-top: 70px
	}
	.bet-content__right {
		margin-top: 10px
	}
	.bet-content__top_match {
		max-width: 150px
	}
	.bet-content__top_time {
		margin-right: 0;
		background: 0 0;
		padding-left: 0
	}
	.bet-content__top_title {
		display: block;
		margin-right: 5px;
		max-width: 140px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap
	}
	.bet-content__block {
		padding-left: 0;
		padding-right: 0
	}
	.bet-content__block-one_top {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px
	}
	.bet-content__block-one_top div {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 250px
	}
	.bet-content__block-one_bottom {
		padding-left: 0;
		padding-right: 0
	}
	.bet-content__team {
		height: auto;
		width: 42%;
		padding-left: 5px;
		padding-right: 5px
	}
	.bet-content__team_img {
		text-align: center;
		width: 100%;
		margin-right: 0;
		margin-left: 0
	}
	.bet-content__team_name {
		width: 100%
	}
	.bet-content__team_top {
		height: auto
	}
	.bet-content__vs {
		width: 16%;
		height: 115px;
		line-height: 115px
	}
	.bet-content__block-two_top p:nth-child(1) {
		position: relative;
		top: 0;
		left: 0;
		max-width: 100%
	}
	.bet-content__block-two_top p:nth-child(3) {
		position: relative;
		top: 0;
		left: 0
	}
	.bet-content__block_bottom-button button {
		display: inline-block
	}
	.bet-content__block_bottom-button {
		float: none;
		text-align: center;
		margin-top: 10px
	}
	.bet-content__video_main {
		height: 50vw
	}
	.bet-content__video_text {
		display: none
	}
	.bet-content__video_play {
		width: 65px;
		height: 73px;
		margin-top: -36px;
		margin-left: -32px
	}
	.bet-content__right {}
	.bet-content__right_bets {
		height: 380px
	}
	.bets__item {
		width: 100%;
		padding-left: 10px
	}
	.bets__item_team-name {
		width: 50%
	}
	.bets__item_title {
		max-width: 60%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-left: 0
	}
	.bets__item_match {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 40%;
		margin-right: 0
	}
	.bet-content__block-one_top div:nth-child(2) {
		margin-left: 0;
		margin-right: 0
	}
	.bet-content__block-one_top div:active {
		font-weight: 400
	}
	.bet-content__right,
	.bet-content__video {
		display: none
	}
	.bet-content__right_bets {
		height: 420px
	}
	.mobile .container {
		padding-left: 0;
		padding-right: 0
	}
	.bet-content__block_bottom-button {
		text-align: center
	}
	.bet-content__block_bottom-button button {
		display: inline-block;
		margin-top: 10px
	}
	.bet-content__range {
		width: 100%
	}
	.teams_tournament_details .team1_details,
	.teams_tournament_details .team2_details {
		width: 42%
	}
}