.DTFC_RightWrapper {
	display: none
}

.dataTables_filter {
	float: right;
	padding: 12px 8px
}

.dataTables_filter p {
	height: 15px;
	line-height: 15px;
	color: #c8c8c8;
	font-size: 12px;
	display: inline-block
}

.dataTables_filter input {
	height: 15px;
	line-height: 15px;
	color: #c8c8c8;
	font-size: 12px;
	width: 220px;
	display: inline-block;
	border: none;
	outline: none;
	background: 0 0;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	margin-left: 5px;
	padding-left: 5px
}

.dataTables_length {
	float: left;
	padding: 12px 8px
}

.dataTables_length p {
	display: inline-block;
	height: 15px;
	line-height: 15px;
	color: #c8c8c8;
	font-size: 12px
}

.dataTables_length_select-div {
	height: 15px;
	line-height: 15px;
	width: 30px;
	overflow: hidden;
	display: inline-block;
	background: url(../img/invest-icon-five.png) 23px center no-repeat;
	margin-left: 5px;
	margin-right: 10px;
	position: relative;
	top: 3px
}

.dataTables_length select {
	width: 100px;
	height: 13px;
	line-height: 13px;
	position: relative;
	top: -1px;
	background: 0 0;
	border: none;
	outline: none;
	color: #c8c8c8;
	font-size: 12px
}

.dataTables_info {
	float: left;
	color: #c8c8c8;
	font-size: 12px;
	line-height: 45px;
	margin-left: 8px
}

.dataTables_paginate {
	padding-top: 12px;
	text-align: center;
	float: right
}

.dataTables_paginate span a {
	display: inline-block;
	color: #c8c8c8;
	font-size: 12px;
	cursor: pointer;
	height: 25px;
	line-height: 21px;
	padding-left: 5px;
	padding-right: 5px;
	transition: all ease .3s;
	margin-left: 3px;
	margin-right: 3px
}

.dataTables_paginate span a:hover {
	background: rgba(255, 255, 255, .5)
}

.dataTables_paginate span .current {
	background: rgba(255, 255, 255, .5);
	border-bottom: 4px solid #fff
}

.dataTables_paginate>a {
	display: inline-block;
	color: #696969;
	font-size: 12px;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 21px
}

.dataTables_scroll {
	overflow-x: auto;
	width: 100%
}

.ref__items .dataTables_scroll .dataTables_scrollHead,
.ref__items .dataTables_scroll .dataTables_scrollBody {
	min-width: 700px
}

.dataTables_scroll .dataTables_scrollHead,
.dataTables_scroll .dataTables_scrollBody {
	min-width: 1000px
}

@media screen and (min-width:500px) and (max-width:767px) {}

@media screen and (max-width:499px) {
	.dataTables_length,
	.dataTables_filter {
		float: none
	}
}